In [1]:
import pandas as pd

# Reading csv

In [4]:
csv_df = pd.read_csv('weather_data.csv')
csv_df

          day  temperature  windspeed  event
0    1/1/2022           30          5  sunny
1    2/1/2022           24          5   rain
2    3/1/2022           25          8  sunny
3    4/1/2022           26          8   rain
4    5/1/2022           27          8  sunny
5    6/1/2022           25          5   rain
6    7/1/2022           31          9   rain
7    8/1/2022           25          9  sunny
8    9/1/2022           26          5   rain
9   10/1/2022           28          5   snow
10  11/1/2022           29          7   snow
11  12/1/2022           32          7   snow
12  13/1/2022           24          7   rain
13  14/1/2022           28          5   rain
14  15/1/2022           27          6   rain

In [7]:
csv_df = pd.read_csv('weather_data.csv', header=None) # header not show, auto column index with 0 to ~
csv_df

            0            1          2      3
0         day  temperature  windspeed  event
1    1/1/2022           30          5  sunny
2    2/1/2022           24          5   rain
3    3/1/2022           25          8  sunny
4    4/1/2022           26          8   rain
5    5/1/2022           27          8  sunny
6    6/1/2022           25          5   rain
7    7/1/2022           31          9   rain
8    8/1/2022           25          9  sunny
9    9/1/2022           26          5   rain
10  10/1/2022           28          5   snow
11  11/1/2022           29          7   snow
12  12/1/2022           32          7   snow
13  13/1/2022           24          7   rain
14  14/1/2022           28          5   rain
15  15/1/2022           27          6   rain

In [6]:
csv_df = pd.read_csv('weather_data.csv', skiprows=1) # skip top rows
csv_df

     1/1/2022  30  5  sunny
0    2/1/2022  24  5   rain
1    3/1/2022  25  8  sunny
2    4/1/2022  26  8   rain
3    5/1/2022  27  8  sunny
4    6/1/2022  25  5   rain
5    7/1/2022  31  9   rain
6    8/1/2022  25  9  sunny
7    9/1/2022  26  5   rain
8   10/1/2022  28  5   snow
9   11/1/2022  29  7   snow
10  12/1/2022  32  7   snow
11  13/1/2022  24  7   rain
12  14/1/2022  28  5   rain
13  15/1/2022  27  6   rain

In [8]:
csv_df = pd.read_csv('weather_data.csv', header=None, names=['day', 'temperature', 'windspeed', 'event']) # if header not exist, can set column name
csv_df

          day  temperature  windspeed  event
0         day  temperature  windspeed  event
1    1/1/2022           30          5  sunny
2    2/1/2022           24          5   rain
3    3/1/2022           25          8  sunny
4    4/1/2022           26          8   rain
5    5/1/2022           27          8  sunny
6    6/1/2022           25          5   rain
7    7/1/2022           31          9   rain
8    8/1/2022           25          9  sunny
9    9/1/2022           26          5   rain
10  10/1/2022           28          5   snow
11  11/1/2022           29          7   snow
12  12/1/2022           32          7   snow
13  13/1/2022           24          7   rain
14  14/1/2022           28          5   rain
15  15/1/2022           27          6   rain

In [9]:
csv_df = pd.read_csv('weather_data.csv', nrows=5) # getting unmber of rows which i want from many rows (its working except header)
csv_df

        day  temperature  windspeed  event
0  1/1/2022           30          5  sunny
1  2/1/2022           24          5   rain
2  3/1/2022           25          8  sunny
3  4/1/2022           26          8   rain
4  5/1/2022           27          8  sunny

In [14]:
# cleaning of data (can set NaN with unusefull or blank etc data)
csv_df = pd.read_csv('weather_data.csv', na_values=['rain', 26, '10/1/2022', 5])
csv_df

          day  temperature  windspeed  event
0    1/1/2022         30.0        NaN  sunny
1    2/1/2022         24.0        NaN    NaN
2    3/1/2022         25.0        8.0  sunny
3    4/1/2022          NaN        8.0    NaN
4    5/1/2022         27.0        8.0  sunny
5    6/1/2022         25.0        NaN    NaN
6    7/1/2022         31.0        9.0    NaN
7    8/1/2022         25.0        9.0  sunny
8    9/1/2022          NaN        NaN    NaN
9         NaN         28.0        NaN   snow
10  11/1/2022         29.0        7.0   snow
11  12/1/2022         32.0        7.0   snow
12  13/1/2022         24.0        7.0    NaN
13  14/1/2022         28.0        NaN    NaN
14  15/1/2022         27.0        6.0    NaN

In [17]:
# cleaning of data (can set NaN with unusefull or blank etc data) 
# na_values can be dictionary for specific column data change
csv_df = pd.read_csv('weather_data.csv', na_values={
    'temperature': ['rain', 26, '10/1/2022'],
    'windspeed': ['rain', 5]
})
csv_df

          day  temperature  windspeed  event
0    1/1/2022         30.0        NaN  sunny
1    2/1/2022         24.0        NaN   rain
2    3/1/2022         25.0        8.0  sunny
3    4/1/2022          NaN        8.0   rain
4    5/1/2022         27.0        8.0  sunny
5    6/1/2022         25.0        NaN   rain
6    7/1/2022         31.0        9.0   rain
7    8/1/2022         25.0        9.0  sunny
8    9/1/2022          NaN        NaN   rain
9   10/1/2022         28.0        NaN   snow
10  11/1/2022         29.0        7.0   snow
11  12/1/2022         32.0        7.0   snow
12  13/1/2022         24.0        7.0   rain
13  14/1/2022         28.0        NaN   rain
14  15/1/2022         27.0        6.0   rain

# Write csv

In [19]:
csv_df.to_csv('new.csv') # write csv with index

In [20]:
csv_df.to_csv('new.csv', index=False) # write csv without index

In [22]:
csv_df.to_csv('new.csv', index=False, columns=['day', 'event']) # write csv without index and specific column

In [23]:
csv_df.to_csv('new.csv', header=None) # write csv without header

# Read Excel

In [24]:
ex_df = pd.read_excel('weather_dataset.xlsx')
# ex_df = pd.read_excel('weather_dataset.xlsx', 'Sheer1') # read csv with specific sheet form multiple sheet
ex_df

          day  temperature  windspeed  event
0  2022-01-01           30          5  sunny
1  2022-01-02           24          5   rain
2  2022-01-03           25          8  sunny
3  2022-01-04           26          8   rain
4  2022-01-05           27          8  sunny
5  2022-01-06           25          5   rain
6  2022-01-07           31          9   rain
7  2022-01-08           25          9  sunny
8  2022-01-09           26          5   rain
9  2022-01-10           28          5   snow
10 2022-01-11           29          7   snow
11 2022-01-12           32          7   snow
12 2022-01-13           24          7   rain
13 2022-01-14           28          5   rain
14 2022-01-15           27          6   rain

In [30]:
# Define a user define function for converting column data 
def convert_event_cell(cell):
    if cell == 'snow':
        return 'Its Snow'
    return cell
def convert_temperature_cell(cell):
    if cell == 26:
        return 100
    return cell


# user define function use for converting excel cell with converters properties
ex_df = pd.read_excel('weather_dataset.xlsx', 'Sheet1', converters={
    'event': convert_event_cell,
    'temperature': convert_temperature_cell
})
ex_df
# Note: this is not good way, its only demo practis

          day  temperature  windspeed     event
0  2022-01-01           30          5     sunny
1  2022-01-02           24          5      rain
2  2022-01-03           25          8     sunny
3  2022-01-04          100          8      rain
4  2022-01-05           27          8     sunny
5  2022-01-06           25          5      rain
6  2022-01-07           31          9      rain
7  2022-01-08           25          9     sunny
8  2022-01-09          100          5      rain
9  2022-01-10           28          5  Its Snow
10 2022-01-11           29          7  Its Snow
11 2022-01-12           32          7  Its Snow
12 2022-01-13           24          7      rain
13 2022-01-14           28          5      rain
14 2022-01-15           27          6      rain

# Write excel

In [31]:
# writing data in excel with sheet_name
ex_df.to_excel('new.xlsx', sheet_name='weather')

In [34]:
# Can set starting cell in excel for writing
ex_df.to_excel('new.xlsx', sheet_name='weather', startcol=1, startrow=2)

In [35]:
# write excel without index
ex_df.to_excel('new.xlsx', sheet_name='weather', index=False)

# Multisheet write excel

In [36]:
# multi sheet create form same or different dataframe 

with pd.ExcelWriter('multisheet.xlsx') as writer:
    ex_df.to_excel(writer, sheet_name='excel_weather')
    csv_df.to_excel(writer, sheet_name='csv_weather')

In [ ]:
# More read/write data study form pandas documentation 
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
# https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
# https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html